---
import Layout from '../layouts/Layout.astro';
import { directus } from '../lib/directus';
import { readItems } from '@directus/sdk';

const DIRECTUS_URL = 'http://localhost:8055';

const posts = await directus.request(
  readItems('posts', {
    fields: ['id', 'title', 'slug', 'excerpt', 'featured_image']
  })
);
---

<Layout>

  <main>
    <article>
      <section class="p-vw-8 text content">
        <h1 class="font-white">Artikel (Posts)</h1>
        <ul class="font-white">
          {posts.map((item) => (
            <li>
              <a href={`/posts/${item.slug}`}>
                {item.title}
              </a>
              {item.excerpt && <div set:html={item.excerpt} />}
              {item.featured_image && (
                <img
                  src={`${DIRECTUS_URL}/assets/${item.featured_image}?width=500`}
                  alt={item.title}
                  width="500"
                />
              )}
            </li>
          ))}
        </ul>
      </section>
    </article>
  </main>

</Layout>
